body {
  font-family: Arial, sans-serif;
  background: url('../image/log-in-background.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h5 {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.submitbtn {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submitbtn:hover {
  background-color: #0056b3;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

#username_error,
#password_error {
  color: red;
  font-size: 14px;
}
